:root {
     --darkColor: #333333;
     --lighColor: #eeeeee;
     --whiteColor: #fafafa;
     --greyColor: #f1f1f1;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--whiteColor);
    color: var(--darkColor);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #e0e0e0;
    width: 100%;
}

header nav {
    width: 40%;
}


header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; 
    margin: 0;
    padding: 0;
}

header nav ul li {
    color: #f1f1f1;
    margin: 3% 5%;
}

main {
    margin: 3% 0 0 15%;
    padding: 1%;
}

a {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: underline;
}

.active{
    text-decoration: underline;
}

.learnNavigation {
    position: fixed;
    justify-content: center;
    width: 15%;
    height: 100%;
    background-color: #e0e0e0;
}


ul {
    list-style: none;
}

input, label {
    margin: 0.5rem 0;
}

/* --------- CODE-------- */

.exemple {
    border: solid 1px var(--darkColor);
    border-left: solid 10px var(--darkColor);
}

figure {
    width: 50%;
}

figcaption {
    margin: 1% 0;
    font-weight: bold;
}

code {
    font-family: consolas;
    line-height: 1.5;
}

.codeExemple {
    padding: 1% ;
}

.highlight {
    background-color: var(--lighColor);
}

pre {
    white-space: pre-wrap;
    margin: 0;
}

.codeTag {
    color: #005cf1;
}

.codeAttribut {
    color: #005f62;
}

.codeAttributValue {
    color: #cf1212;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}